#blog-article {
  background-color: aliceblue;
  width: 60rem;
  height: 50rem;
}

#blog-article:hover{
  width: 60rem;
  height: 50rem;
  background-color: aliceblue;
}

#blog-article p {
  margin: 2em 2em;
}

@media only screen and (max-width: 1020px) {
  #blog-article {
    width: 45rem;
  height: 40rem;
  }
  
  #blog-article:hover{
    width: 45rem;
  height: 40rem;
  }
}

@media only screen and (max-width: 640px) {
  #blog-article {
    width: 17rem;
    height: 35rem;
  }
  
  #blog-article:hover{
    width: 17rem;
    height: 35rem;
  }
  


}