.container {
  background: white;
  border-radius: 2.125rem;
  box-shadow: 2px 2px 4px var(--shadow);
  width: 41.1875rem;
  height: 41.1875rem;
  padding: 0rem 1.5rem;
  flex-direction: column;
  margin: 1.5em 0em;
  transition: 1s ease;
  color: black;
}

.container:hover {
  width: 44.1875rem;
  height: 44.1875rem;
  background-color: var(--hover-color);
  color: white;
}

.container img {
  box-shadow: 2px 2px 4px var(--shadow);
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.container p {
  margin-top: 1em;
  padding: 0rem 1rem;
}

.container h1 {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.blog-links {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 640px) {
  .container img {
    width: 9rem;
    height: 7rem;
  }
  .container {
    width: 15.92688rem;
    height: 30rem;
  }
  .container:hover {
    width: 17rem;
    height: 31rem;
  }

  h1 {
    font-size: 1.5em;
  }

  .container p {
    font-size: 10px;
  }
}
