* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto", sans-serif;
  }
  
  :root {
    --container-color: #a6b1ca;
    --background-color: #8e94f2;
    --header-color: #3f41a3;
    --hover-color: #292a73;
    --nav-color: #eeecf4;
    --shadow: rgb(98, 99, 150);
    background-color: var(--background-color);
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    list-style: none;
  }
  
  #header {
    background-color: var(--header-color);
    width: 100%;
    height: 10vh;
    justify-content: flex-start;
  }
  
  ul {
    display: flex;
  }
  
  .header-links {
    width: 10rem;
    height: 10rem;
    border-radius: 0.225rem;
    border: 1px black solid;
    padding: 0.3em;
    margin: 0rem 1.1rem 0rem;
    background: var(--nav-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
  }
  
  .header-links:hover {
    background-color: var(--hover-color);
    color: white;
  }
  
  #main {
    flex-direction: column;
    min-height: 80vh;
  }
  
  footer {
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
  }
  
  .footer-links {
    color: white;
    margin: 2rem;
    text-decoration: none;
    list-style: none;
  }
  
  #copyright {
    margin-top: 1em;
    color: white;
  }
/*   
  @media only screen and (max-width: 1025px) {
    .header-links {
        width: 9rem;
        height: 4.4rem;
        margin: 0.2rem;
      }
    
      .footer-links {
        margin: 0.1rem;
      }
    } */

  
  @media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
      }
    
      .header-links {
        width: 9rem;
        height: 9rem;
        margin: 0.2rem;
          }
    
      .footer-links {
        margin: 0.1rem;
      }
    }
